<footer>
    <div class="text-center p-3 mt-4" style="box-shadow: 0 -1px 1px#000;">
        © <%= new Date().getFullYear() %> <a class="text-white" href="https://baguetteboy.com/" style="text-decoration: none;">BaguetteBoy.com</a>
    </div>
</footer>