@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
    --font: "Poppins", sans-serif;
}
body {
    font-family: var(--font);
}
.social-links a {
    text-decoration: none;
}
.fa {
    font-size: 1.5rem;
    padding: 5px;
    color: white;
}