@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&family=Roboto+Condensed:wght@700&display=swap');
:root {
    --bg-1: #101010;
    --bg-2: #202020;
    --txt-main: #EFEFEF;
    --font-title: 'Roboto Condensed', sans-serif;
    --font-accent: 'Open Sans', sans-serif;
    --font-main: 'Lato', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg-2);
}
#navbar {
    position: fixed;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 3px #00000090;
    background-color: var(--bg-2);
}
#navbar a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
#navbar #title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navbar #title h1 {
    margin: 0 25px;
    font-family: var(--font-title);
    font-size: 1.4rem;
}
#navbar #lang-switch li {
    display: inline;
    padding: 10px;
    font-size: 1.5rem;
}
#navbar #links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}
#navbar #links a {
    margin: 0 15px;
    font-family: var(--font-accent);
    font-size: 1.1rem;
    font-weight: 500;
    border-bottom: 2px solid;
}
#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: calc(100vh - 300px);
    padding: 150px 0;
}
#landing-page hgroup {
    margin: 25px 0;
    text-align: center;
    color: var(--txt-main);
}
#landing-page hgroup h1 {
    margin: 15px 0;
    font-family: var(--font-title);
    font-size: 2rem;
}
#landing-page hgroup h3 {
    font-family: var(--font-accent);
    font-size: 1.2rem;
}
#landing-page #social-links svg {
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    width: 26px;
    color: white;
    margin: 0 7px;
}
#landing-page #social-links a {
    color: var(--bg-2);
}