<!DOCTYPE html>
<html lang="ch">
<head>
  <%- include('./partials/head') %>
  <title>法棍侠 | 首页</title>
  <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body class="bg-dark text-white">
  <header>
    <%- include('./partials/navbar', { pageTitle: '首页' }) %>
  </header>

  <% if (typeof contactSuccessMessage !== 'undefined') { %>
    <div class="alert alert-light alert-dismissible fade show" role="alert">
      <%= contactSuccessMessage %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>

  <div class="social-links text-center position-absolute top-50 start-50 translate-middle bg-dark">
    <img src="/images/baguette_boy.png" alt="法棍侠" height="120" width="120" class="m-3"/>
    <hgroup>
      <h1>法棍侠的文件</h1>
      <h5>法棍侠的编程和Linux事件的记录。</h5>
    </hgroup>
    <a href="https://github.com/yaboiwierdal/" target="_blank" rel="noopener noreferrer me" title="Github">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="mailto:alex@yaboiwierdal.com" title="电子邮件">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>