<nav class="navbar fixed-top bg-dark navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
		<img src="/images/baguette_boy.png" height="40" width="40" alt="Baguette Boy">
		</a>
		<div class="dropdown">
			<button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				&#x1F1FA;&#x1F1F8;
			</button>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenu2">
				<li><button id="flag-button" class="dropdown-item" type="button"><a href="./?lang=fr" title="Français">&#x1F1EB;&#x1F1F7;</a></button></li>
				<li><button class="dropdown-item" type="button"><a href="./?lang=ch" title="中文">&#x1F1E8;&#x1F1F3;</a></button></li>
			</ul>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="<%= pageTitle == 'Home' ? 'nav-link active' : 'nav-link' %>" aria-current="page" href="/?lang=en">Home</a>
				</li>
				<li class="nav-item">
					<a class="<%= pageTitle == 'Contact' ? 'nav-link active' : 'nav-link' %>" href="/contact/?lang=en">Contact</a>
				</li>
				<li class="nav-item">
					<a class="<%= pageTitle == 'Blog' ? 'nav-link active' : 'nav-link' %>" href="/blog/?lang=en">Blog</a>
				</li>
			</ul>
		</div>
	</div>
</nav>